__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
.env
*.pem
*.db
AWSCLIV2.pkg
frontend/.env.local

backend/storage/
backend/test_storage/

frontend/.next/
frontend/node_modules/

.DS_Store
